@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --dark: #6F6F6F; 
    --darker: #515151;
    --darkest: #000000;
    --matteBlack: #2d2d2d;
    --light: #D3D3D3;
    --white:#f3f3f3;
    --orange: #FBAF10;
    --green: rgb(54, 143, 2);
    --red: rgba(226, 45, 45, 0.725);
}
body {
    background-color: var(--matteBlack);
    color: var(--white);
    font-family: roboto;
    width: 90%;
}
#headDiv{
    display: flex;
    /* border: solid 2px red ; */
    justify-content: space-between;
    margin: 5px;
}

#cart-submit {
    display: flex;
    /* margin-right: 20px; */
    font-weight: 600;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none ;
    height: 40px;
    margin: auto 0;
    cursor: pointer;
    transition: 0.5s;
}
#cart-submit:hover {
    background-color: var(--matteBlack);
    color: var(--light);
}
section {
    width: 255px;
    margin: 5px 0;
    /* border: solid 2px var(--white);*/
}
section img {
    display: flex;
    margin: auto;
}

.size-para {
    margin-bottom: 3px;
}

.sizes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
    .sizes input {
        /* appearance: none; */
        display: none;
    }
.sizes label {
    /* border: solid 1px var(--white); */
    
    margin: 3px;
    padding: 1px;
    font-size: 16px;
    cursor: pointer;
}
.sizes label:hover {
    
    background-color: var(--white);
    color: var(--darker);
    transition: 0.4s;
    border-radius: 6px;
}
.cart {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.eachOfTheShoes {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
}
.eachOfTheShoes:hover {
    /* background-color: var(--matteBlack); */
    border-radius: 15px;
    transition: 0.4s;
}

.subBodyDiv {
    display: flex;
    justify-content: center;
}

.shoeName {
    font-size: 15px;
    font-weight: 700;
    margin: 2px;
}
.addButton {
    display: flex;
    border: none;
    font-weight: 700;
    background-color: var(--light);
    font-size: 12px;
    border-radius: 4px;
    padding: 5px;
    margin: 5px auto;
    width: 70px;
    justify-content: center;
    align-self: flex-start;
}

.sizes input {
    /* appearance: none; */
    cursor: pointer;
}

.remButton {
    display: flex;
    border: none;
    font-weight: 700;
    background-color: var(--red);
    font-size: 12px;
    border-radius: 4px;
    padding: 5px;
    margin: auto;
    width: 70px;
    justify-content: center;
}
.remButton:hover , .addButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.twoParts{
    display: flex;
}
.cartItem {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.cartItemsClass {
    font-weight: 700;
    font-size: 20px;
}
#bodyDiv {
    display: flex;
    flex-direction: row;
    /* border: 10px ridge snow; */
    flex-wrap: wrap;
    gap: 10px;
}
.shoeInCartDiv {
    margin: 10px;
}
.gridValue {
    min-width: 270px;
    border: 2px solid black;
}
.shoeImage {
    margin-left: 16px;
}
.shoeCartDiv {
    border: 2px solid #4b408d;
    /* min-width: 300px; */
    width: 30%;
    padding: 5px;
    margin: 2px;
    /* height: 300px; */
}
.shoeNameParagraph {
    font-weight: 900;
    letter-spacing: 1.8;
    font-size: 0.9 rem;
    max-height: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: var(--orange);
    margin-bottom: 20px;
    /* padding: 10px; */
}
.shoeCostParagraph {
    font-weight: 500;
    text-align: center; 
}
.shoeImage {
    display: flex;
    margin: auto;
    /* margin-bottom: 100px; */
    padding-bottom: 10px;
    padding: 5px;
    border: 8px double var(--green);
    /* border: 2px solid red; */
    background-color: #0b327c;
    border-radius: 10%;
}
.newDivInsideCart{
    /* display: flex; */
    flex-direction: column;
    border: 5px solid rgb(118, 196, 29);
    border-radius: 10%;
    max-width: 200px;
}
.addedShoeNameImage {
    display: flex;
    margin: auto;
    background-color: #797788;
    border-radius: 20%;
    padding: 5px;
    margin-bottom: 10px;
}
.addedShoeQuantity {
    text-align: center;
    font-size: 16px;
}
span {
    font-size: 20px;
    font-weight: 700;
    color:rgba(30, 255, 0, 0.725)
}
.addedShoeCost {
    text-align: center;
    font-size: 16px;
}
.addedShoeNameParagraph {
    font-weight: 700;
    font-size: 0.9 rem;
    max-height: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 8px;
}
h1 {
    text-decoration: overline;
    text-align: center;
    font-size: 70px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-thickness: 2px;
    color: #FBAF10;
}
#cartHeading {
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}
#cartHeading {
    display: none;
    
}